/.idea/
/assets
/backups
/private
/console
/vendor
node_modules
bower_components
*.css.map
*.css
*.min.js
~*.xlsx
.DS_Store
/crawler/
/keys
/.editorconfig
/.gitattributes
*.sql
*.gz

web/*
!web/assets
!web/.htaccess
!web/robots.txt
!web/modules
web/modules/contrib
web/modules/devel
web/themes/contrib

!web/sites
!web/sites/sites.php
!web/sites/development.services.yml
!web/sites/default
web/sites/default/*
web/sites/example.settings.local.php
web/sites/example.sites.php
!web/sites/default/settings.common.php
!web/sites/default/settings.local.php
!web/sites/default/settings.php
!web/sites/default/services.yml
!web/themes
!web/libraries
!web/.well-known
